!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Numerology Calculator
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{:href => "dist/css/custom.css", :rel => "stylesheet"}/
    %link{:href => "dist/css/bootstrap.min.css", :rel => "stylesheet"}/

  %body

    .navbar.navbar-inverse.navbar-static-top
      .container
        %a.navbar-brand Numerology Calculator
        %button.navbar-toggle{"data-target" => ".navHeaderCollapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .collapse.navbar-collapse.navHeaderCollapse
          %ul.nav.navbar-nav.navbar
            %li.active
              %a{:href => "/name"} Calculate

    .container= yield

    .navbar.navbar-default.navbar-fixed-bottom
      .container
        .navbar-text.pull-left 
          Best viewed in Chrome/Firefox...  
        .navbar-text.pull-right 
          For Queries, Pls mail to  
          %a.btn.btn-danger{:href => "mailto:alwaysananth@gmail.com"} AnanthSrinivasan &raquo;
  
    %script{:src => "dist/js/bootstrap.js"}
    %script{:src => "dist/js/jqBootstrapValidation.js"}
    
